.contactHead {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 75vh;
  border-radius: 20px;
  padding-bottom: 10%;
  /* position: absolute; */
}
.contactCard {
  background: #01305b;
  width: 70%;
  border-radius: 20px;

  margin: 30px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contactCard h1 {
  font-size: 4rem;
  color: #ffd700;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
}
@media (max-width: 600px) {
  .contactHead h1 {
    font-size: 4rem;
  }
}

@media (max-width: 400px) {
  .contactHead h1 {
    font-size: 3rem;
  }
}
