.btn {
  background: transparent;
  outline: transparent;
  border: transparent;
  min-width: 6rem;
  border-radius: var(--sm);
  font-size: var(--md);
  text-transform: uppercase;
  font-weight: 600;
  padding: var(--base);
  padding-top: calc(var(--base) + 0.2rem);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--base);
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-size: var(--base);
  font-family: var(--font);
  transition: background-color 0.3s ease;
}

.btn.primary {
  background: var(--primary-dark);
}

.btn.secondary {
  background: var(--secondary-light);
  color: var(--blue-400);
}

.btn.secondary:hover {
  background: var(--yellow-500);
  color: var(--yellow-100);
}

.btn.secondary svg {
  fill: var(--blue-400);
}

.btn svg {
  height: var(--base);
  width: var(--base);
  display: none;
}

.btn.secondary:hover svg {
  fill: var(--yellow-100);
}

.btn.share-btn {
  background: transparent;
  color: var(--secondary-light);
  border: var(--secondary-light) solid 1px;
}

.btn-img-box {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
}

.btn.share-btn .share-btn:hover {
  background: var(--secondary-light);
  color: var(--primary-light);
}

@media only screen and (min-width: 25rem) {
  .btn svg {
    display: block;
  }
}

@media only screen and (min-width: 36rem) {
  .btn {
    padding: var(--base) var(--md);
    padding-top: calc(var(--base) + 0.2rem);
  }
}

@media only screen and (min-width: 48rem) {
  .btn {
    font-size: var(--md);
  }
}
