.match__sm-card > *:first-child {
  margin-bottom: var(--sm);
}

.match__body-box {
  width: 100%;
  padding: var(--md) var(--lg);
  padding-bottom: var(--lg);
  text-align: center;
  gap: var(--xl);
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.match__body-box:has(button) button {
  align-self: center;
}

.match__logo-box {
  position: relative;
  height: var(--lg);
  width: var(--lg);
  border-radius: 50%;
  overflow: hidden;
}

.match__team-logo {
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
}

.match__team-logo img {
  object-fit: contain !important;
  object-position: center;
}

.match__team-logo-box {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 36rem) {
  .match__team-logo {
    height: 2rem;
    width: 2rem;
  }

  .match__team-logo-box {
    height: 3rem;
    width: 3rem;
  }
}

@media only screen and (min-width: 48rem) {
  .match__body-box.xtra-padded {
    padding: var(--md) var(--xxxl);
    padding-bottom: var(--lg);
  }
}

@media only screen and (min-width: 60rem) {
  .match__body-box.xtra-padded {
    padding: var(--md) var(--viii);
    padding-bottom: var(--lg);
  }
}

.match__team-logo-box.sm {
  height: 1.8rem;
  width: 1.8rem;
}

.match__team-logo-box.sm .match__team-logo {
  height: 1.3rem;
  width: 1.3rem;
}
