.latestNewsSection {
}

.newsRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-top: 20px;
}

.newsItem {
  /* border: 1px solid #ddd; */
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 400px;
  width: 300px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;

  scroll-snap-align: start;
}
.newsItem:hover {
  transform: translateY(-10px);
}
.newsItem h3 {
  margin: 0 0 5px;
}
.newsContent {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.newsSpace {
  height: 50px;
}

.newsTitle {
  font-size: 18px;
}
.newsFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.newsLink {
  cursor: pointer;
}
.newsLink:hover {
  text-decoration: underline;
}

.section__padded {
  width: 100%;
  margin-top: var(--lg);
  text-align: center;
}

.matches,
.highlights {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sm);
  margin-bottom: var(--xl);
}

.highlights {
  gap: var(--lg);
}

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  .newsRow {
    gap: 0.5rem; /* Slightly reduce gap for smaller screens */
  }

  .newsItem {
    width: 250px; /* Still maintain a fixed width, but smaller on mobile */
    scroll-snap-align: start; /* Align snapping on mobile */
  }
}

@media only screen and (min-width: 48rem) {
  .matches,
  .highlights {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 var(--xl);
  }
}

@media only screen and (min-width: 60rem) {
  .matches,
  .highlights {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 var(--xxxl);
  }
}

@media only screen and (min-width: 75rem) {
  .matches,
  .highlights {
    padding: 0 var(--vi);
  }

  .highlights {
    gap: var(--xl);
  }
}
