.playerList {
  list-style-type: none;
  padding: 0;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.playerDetails {
  background-color: #005bb5; /* Adjust the background color */
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.playerName{
    text-align: left;
}

.playerFirstName {
     font-size: 16px;
}

.playerLastName {
    font-size: 18px;
}

.teamPosition{
    padding-bottom: 20px;
}
.teamPosition h2{
    padding: 1rem 0;
    font-size: 20px;
    text-transform: uppercase;
}
.teamPosition ul {
   display: flex;
   justify-content: space-between;
    /* grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; */
}

.teamPosition ul li{
    min-height: 18rem;
    height: 28rem;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;


    width: 300px;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;

    scroll-snap-align: start;
}
.number h3{
    color: #FFD700;
}

@media (max-width: 400px) {
    .playerDetails {
    display: block;
}
}