.card {
  width: 100%;
}

.card.radius {
  overflow: hidden;
  border-radius: var(--base);
}

.card__header,
.card__body {
  width: 100%;
}

.card__header {
  height: calc(var(--xxxl) + 0.25rem);
  border-top-right-radius: var(--base);
  border-top-left-radius: var(--base);
}

.card__body {
  min-height: var(--vii);
  border-bottom-right-radius: var(--base);
  border-bottom-left-radius: var(--base);
  background: var(--blue-400);
}

.card__header.border {
  border-bottom: 1px solid var(--t-border);
}

.card__header.dark,
.card.dark {
  background: var(--blue-500);
}

.card__header.light,
.card.light {
  background: var(--blue-400);
}

.card.trans,
.card__header.trans,
.card__body.trans {
  background: transparent;
}
