.footer {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--xxl) 0;
  margin-bottom: 0;
  padding-bottom: calc(var(--viii) + 6rem);
}

.logo {
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
}

.links a:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.copyright {
  font-family: roboto;
  font-size: 15px;
  color: #fff;
}

@media only screen and (min-width: 36rem) {
  .links a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 48rem) {
  .links a {
    font-size: 1.25rem;
  }
}
