/* Widescreens */
@media (max-width: 1500px) {
}

/* A bit bigger if you need some adjustments around here */
@media (max-width: 1100px) {
}

/* Desktop screen or landscape tablet */
@media (max-width: 900px) {
  .match-updates {
    display: grid;
    grid-template-columns: 50% 50%; /* Two columns with 50% width each */
    grid-template-rows: auto auto; /* Two rows: let the height adjust based on content */
    gap: 10px;
  }
  .previous-match {
    grid-column: 1; /* First column */
    grid-row: 1; /* First row */
  }
  .next-match {
    grid-column: 2; /* Second column */
    grid-row: 1; /* First row */
  }
  .standings {
    grid-column: 1 / span 2; /* Span across both columns */
    grid-row: 2; /* Second row */
  }
  .upcoming-updates {
    width: 100%;
  }
}

/* Perhaps bigger tablets */
@media (max-width: 768px) {
  .upcoming-updates-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .videoList {
    flex-direction: row;
    align-items: center;
  }
}

/* Starting into tablets somewhere in here */
@media (max-width: 600px) {
  .interlude {
    width: 100%;
    padding: 3rem 0;
  }
}

@media (max-width: 500px) {
  .upcoming-updates-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .interlude p {
    width: 90%;
  }
  .match-updates {
    display: block;
  }
  .standings-table th,
  .standings-table td {
    padding-left: 0.4rem;
    text-align: left;
  }
}

/* You might do landscape phones here if your content seems to need it */
@media (max-width: 460px) {
}

/* Smartphones start somewhere around here */
@media (max-width: 300px) {
}
