@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    -webkit-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  scroll-behavior: smooth;
   background: '#327BC0';
}
a{
    text-decoration: none;
    all: unset;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #FFD700 transparent;
}


body {
    font-family: 'formula_condensedregular', roboto;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffff !important;
    font-size: 20px;
      box-sizing: border-box;
}
h1 {
  font-family: 'formula_condensedregular', roboto;
  font-weight: normal;
  font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
      box-sizing: border-box;
}

Section{
  padding: 20px 0rem;
}


/* Slider */
/* Add this to a global CSS file or module */
.slider {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  border-radius: 27px;
  margin-top: 2rem;
}

.slider-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-image 1s ease-in-out; /* Smooth transition for background */
}

.slider-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.014);
  opacity: 0;
  padding-top: 10rem;
  animation: fadeInText 1s forwards ease-in-out; /* Fade-in animation */
}
/* First line with a specific font */
.line1 {
  font-family: 'formula_condensedbold', roboto; /* First font style */
  font-size: 4rem; /* Adjust size as needed */
  font-weight: normal;
  margin: 0;
  letter-spacing: 3px;
}

/* Second line with a different font */
.line2 {
  font-family: 'formula_condensedbold', roboto; /* Second font style */
  font-size: 6rem; /* Larger size for the second line */
  color: #FFD700;
  margin: 0;
  letter-spacing: 3px;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Initial slide up */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Reset */
  }
}
.prev-slide, .next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
  border-radius: 100px;
}

.prev-slide {
  left: 10px;
}

.next-slide {
  right: 10px;
}

.prev-slide:hover, .next-slide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Match Updates */
.match-updates{
     display: grid;
  grid-template-columns: auto auto 40%; /* 3 equal columns */
  gap: 10px; 
  align-items: center;
  padding: 1rem 0;
}
.match-updates h2{
padding: 1rem 0;
font-size: 20px;
font-weight: 400;
}
.match-updates .card{
    background-color: #1A6DBB;
    border-radius: 20px;
    /* height: 220px; */
    /* min-width: 300px; */
}
.card-top{
    width: 100%;
     display: grid;
  grid-template-columns: repeat(2, 1fr); 
   gap: 10px; 
    align-items: center;
    padding: .7rem;
    border-bottom: .2px solid #79BEFF;
}
.match-date{
    text-align: right;
    font-size: 16px;
}
.league-logo{
    display: flex;
    align-items: center;
}
.league-name{
  font-size: 16px;
}
.league-logo-icon{
    width: 30px;
    height: auto;
    margin: 5px;
}
.match-teams{

    width: 100%;
     display: grid;
  grid-template-columns: auto auto auto; 
  grid-auto-rows: 1fr; 
  gap: 10px; 
    align-items: center;
    text-align: center;
    padding: .7rem;
}
.match-score {
    text-align: center;
}
.match-score p{
    white-space: nowrap;
    font-size: 45px;
}
.team img{
    width: 100%;
    max-width: 60px;
    height: auto;
}
.match-button{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    cursor: pointer;
}
.match-button a{
    font-family: 'formula_condensedregular', roboto;
    font-size: 16px;
    fill: #1A6DBB;
    color: #1A6DBB;
    background-color: #FFD700;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: .6rem 0rem;
}
/* Standings */
.standings-container{
  padding: .2rem 0rem;
}
.standings-table {
  width: 100%;
}

.standings-table thead th {
  padding: 10px;
  border-bottom: .5px solid #79BEFF; 
  
  font-size: 16px;
}
.standings-table tr:last-child {
  border-bottom: none; 
}
.standings-table th, .standings-table td { 
    padding: .4rem 1rem;
    text-align: left;
}
.standings-table tr{
  height: 2px;
    border-bottom: .5px solid #79BEFF;
}
td { 
  vertical-align: middle;
  font-size: 16px;
}
.td-pos{
  width: 10px !important;
}
.highlight-row {
  background-color: #025099; 
}
/* Latest News */
.Latest-News-Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Latest-News-Top h2{
    padding: 1rem 0;
font-size: 20px;
}
.Latest-News-Top a{
  cursor: pointer;
}
.Latest-News-Top a:hover{
   text-decoration: underline;
}

.newscard_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Upcoming Matches */

/* Match Updates */
.upcoming-updates{
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
}
.upcoming-updates-container{
     display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 10px; 
  align-items: center;
  padding: 1rem 0;
}
.upcoming-updates h2{
padding: 1rem 0;
font-size: 30px;
text-align: center;
}
.upcoming-updates-container .card{
    background-color: #01305B;
    border-radius: 20px;
    /* min-width: 300px; */
}
.upcoming-updates-container .card:nth-child(2){
    background-color: #1A6DBB;
  }

.match-deets .match-time, .match-deets .match-stadium {
  font-size: 14px;
  font-family: 'formula_condensedlight', roboto;
}
.match-deets .match-date{
    text-align: center;
    
}
.upcoming-teams{
  padding-bottom: 25px;
}
.upcoming-button{
   width: 30rem;
   margin: 0 auto;
}
.interlude{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0rem;
}
.interlude p{
    font-family: roboto;
    font-size: 18px;
    font-weight: 400;
    width: 68%;
  margin: 0 auto;
  letter-spacing: 0px;

}

/* Videos */
.videos{
    width: 100%;
  margin: 0 auto;
}

/* Video Card */

/* Main Container  */
.mainContainer{
  margin-top: 10%;
}