.menu {
  background-color: #002247;
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.menu__box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 3000;
  padding: var(--md);
  transition: transform 0.5s linear;
  transform: translateY(-100%);
}

.logo {
  position: relative;
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
}

.menu__box.open {
  transform: translateY(0);
}

.menuContainer {
  display: grid;
  grid-template-columns: auto 25%;
  border-radius: 22px;
  overflow: hidden;
  align-items: center;
  min-height: 10rem;
  overflow: hidden;
}

.menuItem {
  padding: 20px;
  text-align: left;
}

.menuText {
  background-color: #1a6dbb;
  padding: 30px 10px;
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuTab {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 20px;
}

.menuLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.close {
  /* padding: 0px 0px 10px 0px; */
  margin-bottom: 0.5rem;
}

.close button,
.btn {
  background: none;
  color: white;
  font-family: "formula_condensedregular", roboto;
  letter-spacing: 1.2px;
  font-size: var(--base);
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  gap: 6px;
}

.close button {
  border: none;
}

.btn {
  border: 1px white solid;
  border-radius: var(--sm);
  transition: background-color 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  flex-basis: unset;
}

.btn svg {
  min-width: 1.25rem;
  margin-top: -0.25rem;
  height: 1.2rem;
  width: 1.2rem;
  fill: var(--white);
}

.btn:hover > svg path {
  fill: #002247;
}

.btn:hover {
  cursor: pointer;
  color: #002247;
  background-color: #ffd700;
}

.active {
  background: #ffd700 !important;
  color: #002247 !important;
}

.active > svg path {
  fill: #002247 !important;
}

.menuSubLinks {
  width: 100%;
}

.menuSubLink {
  display: grid;
  grid-template: 100% / 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.menuSubLink.menu-2 {
  grid-template: 100% / 1fr 1fr;
}

.menuSubLink.menu-1 {
  grid-template: unset;
  grid-template-columns: 1fr;
}
/* .competition{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
} */

.team {
  grid-template-columns: repeat(3, 1fr); /* 2 equal columns */
  grid-template-rows: repeat(2, 1fr);
}

.team .menuSubLinkBody {
  background-position: top !important;
}

.menuSubLinkBody {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 22px;
  overflow: hidden;
  border: 0px solid transparent;
  cursor: pointer;
  background: white;
  transition: border-color 0.3s ease-in-out;
  text-transform: uppercase;
}

.menuSubLinkBody {
  max-width: 100%;
  height: auto;
  max-height: 10.5rem;
}

.menuSubLinkBody::before {
  content: "";
  display: block;
  padding-top: 60%;
}

.menuSubLinkBody:hover,
.menuSubLinkBody.current {
  border: white solid 1px;
}

.menuSubLinkBody p {
  font-family: "formula_condensedbold", roboto;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 3px;
  padding: 0px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.menuSubLinkBodyLink {
  font-family: "formula_condensedbold", roboto;
  font-size: 20px;
  letter-spacing: 1.5px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ea1f2d;
  border-style: none;
  border-radius: 14px;
  padding: 0.6rem 0rem;
  text-align: center;
  cursor: pointer;
}
.menuSubLinkBodyLink:hover {
  border: 1px solid white;
}
.menuInterlude p {
  font-family: roboto;
  font-size: 12px;
  /* font-weight: 400; */
  width: 90%;
  margin: 0 auto;
  letter-spacing: 0px;
}
.menuCopyright p {
  font-family: roboto;
  font-size: 12px;
}
.menuText {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/* Desktop screen or landscape tablet */
@media (max-width: 900px) {
  .menuText {
    display: none;
  }
  .menuContainer {
    display: block;
  }
}

@media (max-width: 768px) {
  .menuTab {
    display: block;
  }
}

@media (max-width: 460px) {
  .team {
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 25rem) {
  .menuSubLinkBody p {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 36rem) {
  .btn {
    padding: 0.5rem 1rem;
    gap: 6px;
    flex-basis: unset;
  }

  .btn svg {
    height: 1.2rem;
    width: 1.2rem;
  }

  .menuSubLinkBody p {
    font-size: 1.8rem;
  }

  .menu__box {
    padding: calc(var(--xxxl) + 0.5rem) var(--lg);
  }
}

@media only screen and (min-width: 48rem) {
  .menuLinks {
    margin-bottom: 0;
  }

  .btn {
    padding: 0.6rem 1.2rem;
    flex-basis: 100%;
  }

  .close button,
  .btn {
    font-size: var(--md);
    gap: 8px;
    font-weight: 600;
  }

  .btn svg {
    height: auto;
    width: auto;
  }

  .menuSubLinkBody p {
    font-size: 2rem;
  }

  .menuSubLinkBody {
    max-height: 20rem;
  }
}
